project:
  type: website
  output-dir: docs
  render: 
    - "*.qmd"
    - "!/assets/"

execute: 
  freeze: auto

website:
  title: "SOCIOL 212B: Quantitative Data Analysis"
  description: "Using tools from data science and causal inference to answer social science research questions."
  sidebar:
    style: "docked"
    search: true
    contents:
      - kaplanmeier.qmd
      - bernoulli.qmd
      - exponential.qmd
      - weibull.qmd
      - proportional_hazards.qmd
      - cox.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
